<section id="business">
  <div class="container">
    <h2
      class="heading"
      appParallaxScroll
      [speed]="4"
      direction="up"
      [maxDistance]="100"
    >
      <span appParallaxLetter> Projects for Businesses </span>
    </h2>
    <div class="projects">
      <div class="project" *ngFor="let project of projects">
        <app-card-project
          [company]="project.company || ''"
          [name]="project.name || ''"
          [logo]="project.logo || ''"
          [roles]="project.roles || []"
          [description]="project.description || ''"
          [buttonTitle]="project.buttonTitle || ''"
          [buttonArrow]="project.buttonArrow || 1"
          [buttonLink]="project.buttonLink || ''"
          [background]="project.background || ''"
          [color]="project.color || ''"
        ></app-card-project>
      </div>
    </div>
  </div>
</section>
