<section id="business">
  <div class="container">
    <h2
      class="heading"
      appParallaxScroll
      [speed]="4"
      direction="up"
      [maxDistance]="100"
    >
      <span appParallaxLetter class="text-screen-big"> Projects for Businesses </span>
      <span class="text-screen-small">
        <div appParallaxLetter>Projects for</div>
        <div appParallaxLetter>Businesses</div>
      </span>
    </h2>
    <div class="projects">
      <div class="project" *ngFor="let project of projects; let i = index">
        <app-card-project
          [project]="project"
          (openModalRequest)="openModal(project)"
        ></app-card-project>
      </div>
      <!-- <div
        class="project-lock"
        appParallaxFadeIn
        appParallaxScroll
        [start]="'top 80%'"
        [end]="'bottom 70%'"
      >
        <img [src]="'/assets/icons/Lock.svg'" alt="Lock Icon" />
        <span>8+ Other Projects</span>
      </div> -->
      <h5
        class="and-more"
        appParallaxFadeIn
        appParallaxScroll
        [start]="'top 80%'"
        [end]="'bottom 70%'"
      >
        and more ...
      </h5>
    </div>
    <app-modal-section #modal></app-modal-section>
  </div>
</section>
