<div class="my-cv">
  <div class="sections">
    <div class="wrapper-button-download">
      <div
        class="button-download"
        (click)="downloadCV()"
        appParallaxMouseMoveInElement
      >
        <span><span class="text-download">Download</span> CV</span>
        <div class="icon">
          <img src="/assets/icons/Download.svg" alt="Download Icon" />
        </div>
      </div>
    </div>
    <div class="image-section">
      <img [src]="imgSrc" alt="" *ngFor="let imgSrc of imgSrcList" />
    </div>
  </div>
</div>
