<div
  class="container"
  id="card"
  appParallaxFadeIn
  appParallaxScroll
  [start]="'top 80%'"
  [end]="'bottom 70%'"
>
  <img class="logo" [src]="logo" alt="" />
  <div
    class="content"
    appParallaxStagger
    [start]="'top 80%'"
    [end]="'bottom 75%'"
  >
    <div class="heading">
      <span class="company">{{ company }}</span>
      <h5 class="name">{{ name }}</h5>
    </div>
    <div class="roles">
      <div class="role" *ngFor="let role of roles">{{ role }}</div>
    </div>
    <div class="description">
      {{ description }}
    </div>

    <!-- Button 1 -->
    <div
      *ngIf="!buttonLink"
      class="button"
      id="button"
      appParallaxMouseMoveInElement
      (click)="emitOpenModalRequest()"
    >
      <span>{{ buttonTitle }}</span>
      <img
        *ngIf="buttonArrow == 1"
        src="/assets/icons/Arrow_Right.svg"
        alt=""
      />
      <img
        *ngIf="buttonArrow == 2"
        src="/assets/icons/Arrow_Right_Up.svg"
        alt=""
      />
    </div>

    <!-- Button 1 -->
    <a
      *ngIf="buttonLink"
      class="button"
      id="button"
      [href]="buttonLink"
      target="_blank"
      appParallaxMouseMoveInElement
    >
      <span>{{ buttonTitle }}</span>
      <img
        *ngIf="buttonArrow == 1"
        src="/assets/icons/Arrow_Right.svg"
        alt=""
      />
      <img
        *ngIf="buttonArrow == 2"
        src="/assets/icons/Arrow_Right_Up.svg"
        alt=""
      />
    </a>

    <!-- Button 2 -->
    <a
      *ngIf="buttonLink2"
      class="button button2"
      id="button2"
      [href]="buttonLink2"
      target="_blank"
      appParallaxMouseMoveInElement
    >
      <span>{{ buttonTitle2 }}</span>
      <svg
        *ngIf="buttonArrow2 == 1"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M13.4697 5.46967C13.7626 5.17678 14.2374 5.17678 14.5303 5.46967L20.5303 11.4697C20.8232 11.7626 20.8232 12.2374 20.5303 12.5303L14.5303 18.5303C14.2374 18.8232 13.7626 18.8232 13.4697 18.5303C13.1768 18.2374 13.1768 17.7626 13.4697 17.4697L18.1893 12.75H4C3.58579 12.75 3.25 12.4142 3.25 12C3.25 11.5858 3.58579 11.25 4 11.25H18.1893L13.4697 6.53033C13.1768 6.23744 13.1768 5.76256 13.4697 5.46967Z"
          fill="white"
        />
      </svg>

      <svg
        *ngIf="buttonArrow2 == 2"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M9 6.75C8.58579 6.75 8.25 6.41421 8.25 6C8.25 5.58579 8.58579 5.25 9 5.25H18C18.4142 5.25 18.75 5.58579 18.75 6V15C18.75 15.4142 18.4142 15.75 18 15.75C17.5858 15.75 17.25 15.4142 17.25 15V7.81066L6.53033 18.5303C6.23744 18.8232 5.76256 18.8232 5.46967 18.5303C5.17678 18.2374 5.17678 17.7626 5.46967 17.4697L16.1893 6.75H9Z"
          fill="white"
        />
      </svg>
    </a>
  </div>
  <div
    class="background"
    appParallaxMoving
    [startX]="100"
    [startY]="100"
    [endX]="0"
    [endY]="0"
    [speed]="0.2"
    [start]="'top bottom'"
    [end]="'bottom 130%'"
    [ease]="'power1.out'"
  >
    <img [src]="background" alt="" />
  </div>
</div>
