<div class="work-page">
  <div class="header">
    <app-header-2 (output_style)="setStyle($event)"></app-header-2>
  </div>
  <div class="left-bar-section">
    <app-left-bar-section></app-left-bar-section>
  </div>
  <div class="sections">
    <div class="hero-section">
      <app-hero-section-3 [style]="style"></app-hero-section-3>
    </div>
    <div class="community">
      <app-community-section></app-community-section>
    </div>
    <div class="bussiness">
      <app-business-section></app-business-section>
    </div>
  </div>
</div>
