.work-page {
  width: 100%;
  display: flex;
  justify-content: center;
}

.tab-role-element {
  z-index: 100;
  position: fixed;
  left: 50%;
  top: 41px;
  transform: translateX(-50%);
}

.sections {
  width: 100%;
  max-width: 1000px;
}

/* Small Devices (Phones) */
@media (max-width: 767px) {
  .tab-role-element {
    top: 32px;
  }
}

/* Extra Small Devices (Phones) */
@media (max-width: 480px) {
  .tab-role-element {
    top: 16px;
  }
}
