.tab-role-element {
  z-index: 100;
  position: fixed;
  left: 50%;
  top: 41px;
  transform: translateX(-50%);
}

.sections {
  width: 100%;
  max-width: 1200px;
}

/* Medium Devices (Tablets) */
@media (max-width: 1024px) {
  .tab-role-element {

  }
}