<div class="work-page">
  <div class="tab-role-element">
    <app-tab-role-element
      (output_style)="setStyle($event)"
    ></app-tab-role-element>
  </div>
  <div class="sections">
    <div class="hero-section">
      <app-hero-section-3 [style]="style"></app-hero-section-3>
    </div>
    <div class="community-section">
      <app-community-section></app-community-section>
    </div>
    <div class="bussiness-section">
      <app-business-section></app-business-section>
    </div>
  </div>
</div>
