<div class="truck-1">
  <div class="body">
    <div class="lamp"></div>
    <div class="line"></div>
    <div class="line"></div>
  </div>
  <div class="header">
    <div class="lamp"></div>
  </div>
  <div>
    <div class="wheel"></div>
    <div class="wheel"></div>
  </div>
</div>
<div class="truck-2">
  <div class="body">
    <div class="lamp"></div>
    <div class="line-bot"></div>
    <div class="line">
      <span>Fast<br />Delivery</span>
    </div>
  </div>
  <div class="header">
    <div class="lamp"></div>
  </div>
  <div>
    <div class="wheel"></div>
    <div class="wheel"></div>
    <div class="wheel"></div>
  </div>
</div>
<div class="truck-3">
  <div class="body">
    <div class="lamp"></div>
    <div class="line-bot"></div>
    <div class="line-1"></div>
    <div class="line-temp-1"></div>
    <div class="line-2"></div>
    <div class="line-temp-2"></div>
    <div class="line-3"></div>
    <div class="text-1">FAST</div>
    <div class="text-2">DELIVERY</div>
  </div>
  <div class="header">
    <div class="lamp"></div>
  </div>
  <div>
    <div class="wheel"></div>
    <div class="wheel"></div>
  </div>
</div>
