<header id="header">
  <div class="container">
    <div class="wrapper_branding" appParallaxMouseMoveInElement>
      <div class="branding">
        <img class="logo" src="/assets/images/Avatar.png" alt="Avatar" />
        <h1 class="brand-name">david.</h1>
      </div>
    </div>
    <div class="tabs" appParallaxMouseMoveInElement>
      <div
        class="tab"
        [class.tab-style-1]="item.style === 1"
        [class.tab-style-2]="item.style === 2"
        [class.tab-style-3]="item.style === 3"
        [class.active]="item.active"
        *ngFor="let item of menuItems"
        (click)="setActive(item)"
      >
        {{ item.label }}
      </div>
      <span #underline class="underline" [ngStyle]="underlineStyle"></span>
    </div>
    <div class="wrapper_hamburger_button" appParallaxMouseMoveInElement>
      <div class="hamburger-button" (click)="openMenu = !openMenu">
        <app-hamburger-button-animation
          [style]="1"
          [size]="'50px'"
          [active]="openMenu"
        ></app-hamburger-button-animation>
      </div>
    </div>
  </div>
</header>
