section {
  max-width: 1220px;
  margin: 0 auto;
}


.heading {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.line {
  width: 100%;
  border-top: 1px solid var(--color-line);
}

.title {
  width: fit-content;
  padding: 7px 32px;
  border-width: 0 1px;
  border-style: solid;
  border-color: var(--color-line);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  img {
    width: 26px;
    height: 26px;
    object-fit: cover;
  }

  span {
    font-weight: 700;
    font-size: 20px;
    line-height: 128.5%;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: var(--color-secondary);
  }
}
