<header>
  <div class="container">
    <div class="header-bar">
      <div class="branding">
        <img class="logo" src="./../../../assets/Avatar.png" alt="Avatar" />
        <div class="brand-content">
          <!-- <h1 class="brand-name">Thien (David) Vuong Huu</h1> -->
          <h1 class="brand-name">David</h1>
          <!-- <p class="brand-title">Full-Stack Developer | UX/UI Designer | Front-End Animator</p> -->
        </div>
      </div>
      <nav>
        <ul>
          <li><a href="#about">About</a></li>
          <li><a href="#projects">Projects</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
