<footer>
  <div class="container">
    <div class="contacts">
      <div class="wrapper-contact">
        <a
          class="contact"
          href="mailto:vuonghuuthientk@gmail.com?subject=Mail to David Thien Vuong"
          target="_blank"
        >
          <img src="/assets/icons/Letter.svg" alt="Letter Icon" />
          <span>{{ email }}</span>
        </a>
        <div
          class="button-copy"
          appParallaxMouseMoveInElement
          (click)="copyText(email)"
        >
          <img src="/assets/icons/Copy.svg" alt="Copy Icon" />
        </div>
      </div>
      <div class="wrapper-contact">
        <a class="contact" href="tel:+84905045730" target="_blank">
          <img src="/assets/icons/Phone2.svg" alt="Phone Icon" />
          <span>(+84) 905 045 730</span>
        </a>
        <div
          class="button-copy"
          appParallaxMouseMoveInElement
          (click)="copyText(phone)"
        >
          <img src="/assets/icons/Copy.svg" alt="Copy Icon" />
        </div>
      </div>
    </div>
    <div class="socials">
      <div class="wrapper-social" *ngFor="let social of socials">
        <a
          class="social"
          [href]="social.link"
          target="_blank"
          appParallaxMouseMoveInElement
        >
          <img [src]="social.icon" [alt]="social.title" />
        </a>
      </div>
    </div>
    <div class="copyright">
      Copyright © 2024 Thien (David) Vuong Huu. All rights reserved.
    </div>
  </div>
</footer>
