<div class="truck-wrapper">
  <div class="truck-wrapper_inner">
    <div class="truck_outter">
      <div class="truck">
        <div class="body">
          <div class="lamp"></div>
          <div class="line-bot"></div>
          <div class="line-1"></div>
          <div class="line-temp-1"></div>
          <div class="line-2"></div>
          <div class="line-temp-2"></div>
          <div class="line-3"></div>
          <div class="text-1">FAST</div>
          <div class="text-2">DELIVERY</div>
        </div>
        <div class="header">
          <div class="lamp"></div>
        </div>
        <div>
          <div class="wheel"></div>
          <div class="wheel"></div>
        </div>
        <div class="wind">
          <div class="p p1"></div>
          <div class="p p2"></div>
          <div class="p p3"></div>
          <div class="p p4"></div>
          <div class="p p5"></div>
        </div>
        <div class="package">
          <div class="p p1"></div>
          <div class="p p2"></div>
          <div class="p p3"></div>
          <div class="p p4"></div>
        </div>
      </div>
    </div>
  </div>
</div>