<section id="hero">
  <div class="container">
    <div class="background">
      <div class="pattern">
        <div class="pattern-left">
          <svg
            width="998"
            height="505"
            viewBox="0 0 998 505"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M1.84229 455.553C41.7764 517.096 149.906 567.531 262.95 276.927C404.255 -86.3276 635.924 -40.7956 803.596 139.831C937.733 284.333 987.651 200.04 995.842 139.831"
              stroke="black"
              stroke-width="4"
            />
          </svg>
        </div>
        <div class="pattern-right">
          <svg
            width="426"
            height="420"
            viewBox="0 0 426 420"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M0.70166 5.96525C45.7656 -2.18641 141.721 -2.41932 165.03 61.8623C194.166 142.214 82.6715 398.797 425.702 418.206"
              stroke="black"
              stroke-width="3"
            />
          </svg>
        </div>
      </div>
      <div class="shadow">
        <div class="shadow-1">
          <svg
            width="112"
            height="112"
            viewBox="0 0 112 112"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <circle cx="56" cy="56" r="56" fill="#FFDBEC" />
          </svg>
        </div>
        <div class="shadow-2">
          <svg
            width="112"
            height="112"
            viewBox="0 0 112 112"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <circle cx="56" cy="56" r="56" fill="#BEF3EA" />
          </svg>
        </div>
        <div class="shadow-3">
          <svg
            width="591"
            height="579"
            viewBox="0 0 591 579"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <ellipse
              cx="295.5"
              cy="289.5"
              rx="295.5"
              ry="289.5"
              fill="#FFD5E9"
            />
          </svg>
        </div>
        <div class="shadow-4">
          <svg
            width="641"
            height="563"
            viewBox="0 0 641 563"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <ellipse
              cx="320.5"
              cy="281.5"
              rx="320.5"
              ry="281.5"
              fill="#D2FFF7"
            />
          </svg>
        </div>
      </div>
      <div class="introduce">
        <div class="say-hi">
          <h2>Hi, I'm David!</h2>
          <img
            src="/assets/images/SignOfTheHorns.png"
            alt="Sign of the Horns"
          />
        </div>
        <div class="role">
          <p>a</p>
          <!-- <p class="value">UX/UI Designer</p> -->
          <app-rotating-text-animation></app-rotating-text-animation>
          <!-- <app-rolling-text-animation [style]="2"></app-rolling-text-animation> -->
        </div>
        <div class="experience">
          <p>with over</p>
          <div class="number">
            <p class="value">7</p>
            <img
              src="/assets/images/SmilingFaceWithSunglasses.png"
              alt="Smiling Face with Sunglasses"
            />
          </div>
          <p>years of experience</p>
        </div>
      </div>
      <a href="#work" class="scroll-down">
        <app-scroll-down-button></app-scroll-down-button>
      </a>
    </div>
  </div>
</section>
