<div
  class="wrapper"
  [style.--lc-speed]="speed"
  [style.--lc-width]="width"
  [style.--lc-height]="height"
>
  <section id="slider">
    <input type="radio" name="slider" id="s1" />
    <input type="radio" name="slider" id="s2" />
    <input type="radio" name="slider" id="s3" checked />
    <input type="radio" name="slider" id="s4" />
    <input type="radio" name="slider" id="s5" />
    <label for="s1" id="slide1"></label>
    <label for="s2" id="slide2"></label>
    <label for="s3" id="slide3"></label>
    <label for="s4" id="slide4"></label>
    <label for="s5" id="slide5"></label>
  </section>

  <section id="slider_vertical">
    <input type="radio" name="slider_vertical" id="sv1" />
    <input type="radio" name="slider_vertical" id="sv2" />
    <input type="radio" name="slider_vertical" id="sv3" checked />
    <input type="radio" name="slider_vertical" id="sv4" />
    <input type="radio" name="slider_vertical" id="sv5" />
    <label for="sv1" id="slide_vertical_1"></label>
    <label for="sv2" id="slide_vertical_2"></label>
    <label for="sv3" id="slide_vertical_3"></label>
    <label for="sv4" id="slide_vertical_4"></label>
    <label for="sv5" id="slide_vertical_5"></label>
  </section>
</div>
