$color: var(--lc-color);
$color-checked: var(--lc-color-checked);
$speed: var(--lc-speed);
$size: var(--lc-size);
$border-size: var(--lc-border-size);
$width-check: var(--lc-width-check);
$height-check: var(--lc-height-check);

input[type='checkbox'] + label {
  position: relative;
  width: $size;
  height: $size;
  border: $border-size solid $color;
  border-radius: 100%;
  transition: all ease-out $speed;
  display: block;

  &:after {
    content: '';
    position: absolute;
    width: 0px;
    height: $height-check;
    border-bottom: $border-size solid $color-checked;
    border-left: $border-size solid $color-checked;
    top: 10%;
    left: 50%;
    transform-origin: bottom left;
    transform: rotate(-45deg);
    opacity: 0;
    transition: all ease-out $speed;
  }
}

input[type='checkbox']:checked + label {
  border: $border-size solid $color-checked;
  &:after {
    opacity: 1;
    width: $width-check;
  }
}

#chk {
  display: none;
}