/*
z-index
popup section 150 -> 160
header 100 -> 110
background 10 -> 20
section 30 -> 40
background section 50 -> 60
content section 60 -> 70
*/

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #f6f6f6;
  overflow-x: hidden;
  width: 100vw;
  min-height: 100vh;
  position: relative;
}

.wrapper-main {
  width: 100%;
  max-width: 1440px;
  display: flex;
  justify-content: center;
  padding: 0 50px;
}

.header {
  z-index: 100;
  position: fixed;
  top: 41px;
  width: calc(100% - 100px);
  max-width: 1400px;
}

.menu-left,
.menu-right {
  width: fit-content;
  height: 60px;
  position: absolute;
}

.menu-left {
  left: 0;
  top: 0;
}

.menu-right {
  right: 0;
  top: 0;
}

.left-bar-section {
  position: fixed;
  left: 0;
  z-index: 99;
  height: 100vh;
}

.page-section {
  width: 100%;
}

.footer-section {
  width: 100%;
}

/* Small Devices (Phones) */
@media (max-width: 767px) {
  .wrapper-main {
    padding: 0 32px;
  }

  .header {
    top: 32px;
    width: calc(100% - 64px);
  }
}

/* Extra Small Devices (Phones) */
@media (max-width: 480px) {
  .wrapper-main {
    padding: 0 16px;
  }

  .header {
    top: 16px;
    width: calc(100% - 32px);
  }
}
