<div class="container">
  <div class="rotate">
    <div class="text-circle">
      <svg viewBox="0 0 200 200">
        <path
          id="curve"
          d="
            M 16, 100
            a 84,84 0 1,1 168,0
            a 84,84 0 1,1 -168,0
          "
        />
        <text width="200">
          <textPath xlink:href="#curve">
            SCROLL DOWN TO SEE MY LATEST WORK
          </textPath>
        </text>
      </svg>
    </div>
    <div class="star">
      <svg
        width="17"
        height="16"
        viewBox="0 0 17 16"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M8.6709 0.115418L10.87 5.09419L16.2203 6.09356L12.1797 9.74477L12.8745 15.1381L8.17745 12.4266L3.26197 14.7556L4.40273 9.43751L0.666296 5.47905L6.06373 4.90294L8.6709 0.115418Z"
          fill="#F3764F"
        />
      </svg>
    </div>
  </div>
  <div class="arrow-down">
    <svg
      width="24"
      height="52"
      viewBox="0 0 24 52"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M1.04639 39.7872L12.0464 51.0692L23.0464 39.7872M12.0464 49.5023V1.06921"
        stroke="none"
        stroke-width="1.5"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
    </svg>
  </div>
</div>
