.about-me {
  width: 100%;
  // min-height: 100vh;
  display: flex;
  justify-content: center;
}

.sections {
  width: 100%;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info-section {
  display: flex;
  flex-direction: column;
  padding: 40px;
  gap: 16px;
  width: 100%;
  max-width: 1000px;
  background: #ffffff;
  border-radius: 20px;
  margin-top: 160px;
  margin-bottom: 110px;
  box-shadow: 0px 50px 250px rgba(9, 20, 50, 0.15);

  .avatar {
    width: 100%;
    max-width: 200px;
    border-radius: 14px;
  }

  h5.title {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 52px;
    letter-spacing: -0.01em;
    color: var(--color-black);
  }

  span {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: -0.01em;
    color: var(--color-black);

    &.bold {
      font-weight: 600;
    }
  }
}

/* Small Devices (Phones) */
@media (max-width: 767px) {
  .info-section {
    .avatar {
      display: block;
    }

    h5.title {
      font-size: 30px;
      line-height: normal;
    }

    span {
      font-size: 14px;
      line-height: normal;
    }
  }
}

/* Extra Small Devices (Phones) */
@media (max-width: 480px) {
  .info-section {
    margin-top: 110px;
    padding: 24px;

    .avatar {
      max-width: none;
    }
  }
}
