<div class="about-me">
  <div class="sections">
    <div class="info-section">
      <img class="avatar" src="/assets/images/avatar.jpg" alt="" />
      <h5 class="title">About me</h5>
      <span> I am <span class="bold">Thien (David) Vuong Huu</span>. </span>
      <span>
        A UX/UI Designer from Vietnam with over 7 years of experience, including
        3 years as a Full-Stack Developer.
      </span>
      <span>
        My technical background in Angular 2+, .NET, and various UI frameworks
        such as Material UI, SCSS, Tailwind CSS, Prime NG, Kendo UI, Chakra UI,
        and Bootstrap allows me to create intuitive and highly functional,
        responsive designs.
      </span>
      <span>
        Over the past 4 years, I've specialized in UX/UI design, working with
        tools like Miro, Figma, and Illustrator. My dual experience bridges
        development and design, optimizing workflows and improving efficiency.
        For example, in an Australian government project (HBCF), I helped reduce
        workflow by over 20% by developing UX solutions, minimizing system
        errors, and reducing bug-fixing time.
      </span>
      <span>
        In addition, I also participate in supporting the Figma community. More
        than 16.000 designers are using my designs.
      </span>
    </div>
  </div>
</div>
