.wrapper_branding {
  cursor: pointer;

  .branding {
    transition: 0.1s;
  }

  &:hover {
    .branding {
      scale: 0.8;
    }
  }
}

.branding {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 14px;
  gap: 16px;
  background: var(--color-white);
  box-shadow: 0px 8px 48px rgba(0, 0, 0, 0.12);
  border-radius: 40px;
  cursor: pointer;

  img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
  }

  .brand-name {
    font-weight: 500;
    font-size: 22px;
    line-height: 32px;
    color: #505050;
    padding-right: 6px;
  }
}

.wrapper_hamburger_button {
  cursor: pointer;
  position: relative;

  .hamburger-button {
    transition: 0.1s;
  }

  &:hover {
    .hamburger-button {
      scale: 0.8;
    }
  }
}

.hamburger-button {
  background: var(--color-white);
  box-shadow: 0px 8px 48px rgba(0, 0, 0, 0.12);
  border-radius: 40px;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.wrapper-menu-popup {
  position: absolute;
  right: 0;
  top: calc(100% + 16px);
  user-select: none;
  pointer-events: none;

  &.wrapper-menu-popup-open {
    user-select: all;
    pointer-events: all;
  }
}

.menu-popup {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 8px;
  gap: 4px;
  width: 100%;
  min-width: 250px;
  max-width: 250px;
  background: #ffffff;
  box-shadow: 0px 8px 48px rgba(0, 0, 0, 0.12);
  border-radius: 20px;
  transform: scale(0.4) translate(50%, -100%);
  user-select: none;
  pointer-events: none;
  opacity: 0;
  transition: 0.5s;

  &.menu-popup-open {
    transform: scale(1) translate(0, 0);
    user-select: all;
    pointer-events: all;
    opacity: 1;
  }

  .item {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 16px 20px;
    gap: 16px;
    border-radius: 14px;
    width: 100%;
    position: relative;
    user-select: none;

    > img {
      width: 20px;
      height: 20px;
    }

    > span {
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;
      color: var(--color-black-2);
      white-space: nowrap;
    }

    > img,
    > span {
      opacity: 0.6;
    }

    &.active,
    &:hover {
      background: var(--color-black-6);

      > img,
      > span {
        opacity: 1;
      }
    }

    .download-button {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      padding: 8px;
      width: 40px;
      height: 40px;
      background: #ffffff;
      box-shadow: 10px 5px 20px rgba(0, 0, 0, 0.1);
      border-radius: 50%;
      position: absolute;
      right: 8px;
      top: 50%;
      transform: translateY(-50%);
      transition: 0.1s;

      &:hover {
        transform: translateY(-50%) scale(1.1);
      }
    }
  }
}

/* Small Devices (Phones) */
@media (max-width: 767px) {
  .branding {
    .brand-name {
      display: none;
    }
  }
}
