.tabs {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 6px;
  gap: 9px;
  isolation: isolate;
  background: #f6f6f6;
  box-shadow: 0px 9px 30px rgba(0, 0, 0, 0.1);
  border-radius: 40px;

  .tab {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 20px;
    border-radius: 30px;
    cursor: pointer;
    z-index: 110;
    transition: 0.1s;

    &:hover {
      background: #ffffff;
      color: rgba(56, 56, 56, 0.8);
    }

    &.active {
      &.tab-style-1 > span {
        background: linear-gradient(
          141deg,
          #adf1e0 0%,
          #8075ff 28%,
          #ff7171 98%
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
      }

      &.tab-style-2 > span {
        background: linear-gradient(141deg, #969699 0%, #1e1e22 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
      }

      &.tab-style-3 > span {
        background: linear-gradient(141deg, #969699 0%, #1e1e22 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
      }
    }

    > img {
      width: 24px;
      height: 24px;
      opacity: 0.6;
      display: none;
      -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
      filter: grayscale(100%);
    }

    > span {
      font-weight: 500;
      font-size: 18px;
      line-height: 24px;
      color: rgba(56, 56, 56, 0.6);
      white-space: nowrap;
    }

    &.active {
      > img {
        opacity: 1;
        -webkit-filter: none; /* Safari 6.0 - 9.0 */
        filter: none;
      }
    }
  }

  .underline {
    position: absolute;
    width: 166px;
    height: 48px;
    background: var(--color-black);
    left: 6px;
    top: calc(50% - 48px / 2);
    background: var(--color-white);
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.07);
    border-radius: 40px;
    transition: all 0.3s ease-in-out;
  }
}

/* Medium Devices (Tablets) */
@media (max-width: 1024px) {
  .tabs {
    .tab {
      > img {
        display: block;
      }

      > span {
        display: none;
      }
    }
  }
}

/* Small Devices (Phones) */
@media (max-width: 767px) {
  .tabs {
    .tab {
      padding: 12px;
    }
  }
}
