<div class="container">
  <div class="background">
    <div class="patterns">
      <div class="pattern-left">
        <svg
          width="150"
          height="123"
          viewBox="0 0 150 123"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M150 -6.99998C150 64.797 91.7975 123 20.0005 123L7.60513 123C-0.460794 123 -6.99953 116.461 -6.99953 108.395L-6.99952 -7L150 -6.99998V-6.99998Z"
            fill="black"
          />
        </svg>
      </div>
      <div class="pattern-right">
        <svg
          width="350"
          height="558"
          viewBox="0 0 350 558"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M0.000488281 253.5C0.000488281 113.496 113.496 0 253.5 0H324C338.36 0 350 11.6406 350 26V559H0.000488281V253.5Z"
            fill="black"
          />
        </svg>
      </div>
    </div>
    <div class="content">
      <div class="title">AI vision technology to improve security</div>
      <div class="description">
        It is a long established fact that a reader will be distracted by the
        readable content of a page when looking at its layout.
      </div>
      <div class="buttons"></div>
    </div>
  </div>
</div>
