section#left-bar {
  height: 100%;
}

.container {
  padding: 45px 0 60px 45px;
  height: 100%;
}

.socials {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 32px;

  .social {
    width: 20px;
    height: 20px;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    opacity: 0.3;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &:hover {
      -webkit-filter: none; /* Safari 6.0 - 9.0 */
      filter: none;
      opacity: 1;
      cursor: pointer;
    }
  }
}
