<section id="left-bar">
  <div class="container">
    <div class="socials">
      <a class="social">
        <img src="./../../../assets/socials/LinkedIn.svg" alt="LinkedIn" />
      </a>
      <a class="social">
        <img src="./../../../assets/socials/Behance.svg" alt="Behance" />
      </a>
      <a class="social">
        <img src="./../../../assets/socials/Dribble.svg" alt="Dribble" />
      </a>
      <a class="social">
        <img src="./../../../assets/socials/X.svg" alt="Twitter" />
      </a>
    </div>
  </div>
</section>
