<div class="container">
  <div class="header" id="header">
    <h5 class="name">{{ name }}</h5>
    <img *ngIf="logo" class="logo" [src]="logo" alt="" />
  </div>
  <div class="wrapper-content">
    <div class="title">Project Description:</div>
    <div class="card-project-description-2" [innerHTML]="description_2"></div>
  </div>
  <div class="wrapper-content">
    <div class="title">My Role:</div>
    <div class="roles">
      <div class="role" *ngFor="let role of roles">{{ role }}</div>
    </div>
    <div class="card-project-description-2" [innerHTML]="role_2"></div>
  </div>
  <div class="wrapper-content">
    <div class="title">Technologies and Tools I Used:</div>
    <div class="technologies">
      <div class="technology" *ngFor="let technology of technologies">
        <img [src]="technology.icon" alt="" />
        <span class="name">{{ technology.name }}</span>
      </div>
    </div>
  </div>
  <div class="wrapper-content">
    <div class="title">Review:</div>
    <div *ngIf="!isPreviewGrid" class="preview">
      <img
        class="preview-image"
        *ngFor="let image of imagePaths"
        [src]="image"
        alt=""
      />
      <div class="image-preview-lock">
        <img [src]="'/assets/icons/Lock.svg'" alt="Lock Icon" />
        <span>{{ totalScreens }}+ Screens</span>
        <span>{{ totalComponents }}+ Components</span>
      </div>
    </div>
    <div *ngIf="isPreviewGrid" class="preview preview-grid">
      <div class="column" *ngFor="let column of imagePaths_chunk">
        <img *ngFor="let img of column" [src]="img" style="width: 100%" />
      </div>
    </div>
  </div>
</div>
