<div class="container">
  <div class="header" id="header">
    <h5 class="name">{{ name }}</h5>
    <img class="logo" [src]="logo" alt="" />
  </div>
  <div class="wrapper-content">
    <div class="title">Project Description:</div>
    <div class="card-project-description-2" [innerHTML]="description_2"></div>
  </div>
  <div class="wrapper-content">
    <div class="title">My Role:</div>
    <div class="roles">
      <div class="role" *ngFor="let role of roles">{{ role }}</div>
    </div>
    <div class="card-project-description-2" [innerHTML]="role_2"></div>
  </div>
  <div class="wrapper-content">
    <div class="title">Technologies and Tools I Used:</div>
    <div class="technologies">
      <div class="technology" *ngFor="let technology of technologies">
        <img [src]="technology.icon" alt="" />
        <span class="name">{{ technology.name }}</span>
      </div>
    </div>
  </div>
  <div class="wrapper-content">
    <div class="title">Review:</div>
    <div class="preview image-grid">
      <div class="image-preview image-item" *ngFor="let image of imagePaths">
        <img [src]="image" alt="" />
      </div>
    </div>
  </div>
  <div class="reviews"></div>
</div>
