.container {
  display: flex;
  flex-direction: column;
  padding: 32px;
  gap: 32px;
}

.header {
  width: 100%;
  padding: 32px;
  background: rgba(99, 102, 241, 0.1);
  border-radius: 14px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  .name {
    font-family: var(--font-third);
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 45px;
    color: var(--color-black);
  }

  .logo {
    height: 40px;
  }
}

.wrapper-content {
  display: flex;
  flex-direction: column;
  gap: 20px;

  .title {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #292929;
  }

  .content {
    padding: 0 24px;
  }

  .card-project-description-2 {
    // In style.scss
  }

  .roles {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 16px;

    .role {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      padding: 6px 12px;
      gap: 10px;
      background: rgba(99, 102, 241, 0.2);
      border-radius: 6px;
      font-family: var(--font-third);
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      color: var(--color-black);
    }
  }

  .technologies {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 16px;

    .technology {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 6px 16px 6px 6px;
      gap: 10px;
      background: var(--color-black-6);
      border-radius: 6px;

      img {
        width: 32px;
        height: 32px;
      }

      .name {
        font-family: var(--font-third);
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        color: var(--color-black);
      }
    }
  }

  .preview {
    display: flex;
    flex-direction: column;
    gap: 40px;

    .preview-image {
      width: 100%;
      // border: 1px solid var(--color-black-6);
    }

    .image-preview-lock {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 16px;
      width: 100%;
      height: 400px;
      background: var(--color-black-5);
      border-radius: 12px;

      img {
        width: 100px;
        height: 100px;
      }

      span {
        font-weight: 900;
        font-size: 30px;
        line-height: 30px;
        text-align: center;
        color: var(--color-white);
      }
    }
  }
}

.preview-grid {
  display: flex;
  flex-wrap: wrap;
  // padding: 0 4px;

  .column {
    flex: 33.33%;
    max-width: 33.33%;
    // padding: 0 4px;
  }

  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }

  @media screen and (max-width: 800px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
  }

  @media screen and (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
  }
}

/* Medium Devices (Tablets) */
@media (max-width: 1024px) {
  .header {
    padding: 24px;
    flex-direction: column-reverse;
    align-items: flex-start;
    gap: 16px;

    .name {
      font-size: 32px;
      line-height: 40px;
    }
  }
}
